.ok{
	color: green;
	font-weight: bold;
}
.ko{
	color: red;
	font-weight: bold;
}
.zero{
	color: gray;
	font-weight: bold;
}

#fixedContainer
{
    background-color:#ddd;
  position: fixed;
  width: 200px;
  height: 100px;
  left: 50%;
  top: 0%;
  margin-left: -100px; /*half the width*/
}