.ok{
	color: green;
	font-weight: bold;
}
.ko{
	color: red;
	font-weight: bold;
}
.zero{
	color: gray;
	font-weight: bold;
}

#fixedContainer
{
    background-color:#fff ;
  position: fixed;
  width: 250px;
  height: 90%;
  right: 0%;
  top: 5%;
  margin-left: -200px; /* */
}